/* font-family: 'Open Sans', sans-serif;  74a8c9 #6293b2*/
html, body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.gradient {
    background-image: linear-gradient(to right, #4d84a7 10%, #74a8c9 25%, #4b83a6);
    width: 1280px;
    height: 555px;
    color: white;
}

/* =============================== HEADER ========================== */

.logo-phone {
    display: flex;
    justify-content: space-around;
    width: 1280px;
    height: 113px;
}

.logo {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.phone a {
    text-decoration: none;
    color: white;
}

.logo p {
    z-index: 2;
    margin: 0;
}

.logo .name {
    font-size: 27px;
}

.square {
    position: absolute;
    top: 8px;
    left: 258px;
    height: 50px;
    width: 50px;
    border-top: 3px solid #74a8c9;
    border-bottom: 2px #74a8c9;
    border-left: 2px #74a8c9;
    overflow: hidden;
    transform: rotate(45deg) scale(0.6);
}
    
.logo:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 261px;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right top, white 20%, transparent 20%)
}    
    
.top,
.left,
.right,
.bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    border: 1px solid #74a8c9;
    transform-origin: 0% 0%;
}

.right {
    transform: rotate(-45deg);
    opacity: 0;
}

.bottom {
    transform: rotate(45deg);
    background-color: white;
}

.top {
    transform: rotate(-135deg);
    background-color: white;
}

.left {
    transform: rotate(135deg);
    background-color: white;
}



/* =========================== NAV ========================= */

.top-menu {
    background-color: #d7d7d7;
    color: #3a5362;
}

.menu {
    width: 1280px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #4b83a6;
}

.sign {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.about { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1.3;
    list-style: none;
}

.button {
    padding: 0 15px 0px 15px;
    text-decoration: none;
    color: #3a5362;
}

.button:hover {
    border: 1px solid #5187a9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px 10px 15px 10px;
    background-image: linear-gradient(to bottom, #5187a9 75%, #74a8c9);
    color: white;
}

/* ============================= CONTENT 1nd level =================================== */


.content {
    display: flex;
    width: 1280px;
    justify-content: center;
}

.content-cabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
}

.content-form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.header-form {
    display: inline-block;
    font-size: 22px;
    line-height: normal;
}

.tenants {
    color: white;
    border: 0;
    outline: 0;
    padding: 5px 20px 5px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: inline;
    background-color: #14425f;
}

.oweners {
    border: 0;
    outline: 0;
    padding: 5px 20px 5px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: inline;
    background-color: #c2f2ed;
    color: #4b83a6;
}

.button-form:active {
    color: white;
    border: 0;
    outline: 0;
    padding: 5px 20px 5px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: inline;
    background-color: #14425f;
}

.form {
    background-image: linear-gradient(to bottom, #14425f 5%, transparent);
    padding: 25px 40px 0px 40px;
    border-top-right-radius: 10px;
    display: block;
}

.check {
    font-size: 14px;
    display: block;
    line-height: normal;
    margin-top: 10px;
    margin-left: 5px;
}

.check input {
    margin-right: 20px;
    transform: scale(1.3)
}

.prop-bed {
    display: inline-block;
    text-align: right;
    margin-top: 20px;
}

.property, 
.bedrooms {
    margin-right: 25px;
    font-size: 14px;
}

.prop-select,
.bed-select {
    padding: 5px 5px 5px 20px;
    line-height: normal;
    font-size: 14px;
    color: #4b83a6;
    width: 180px;
    border-radius: 4px;
}

.bed-container {
    margin-top: 15px;   
}

.example {
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 7px;
    width: 303px;
    height: 35px;
    color: #4b83a6;
    text-align: left;
    padding-left: 20px;
}

.button-search {
    width: 150px;
    background-color: #346f94;
    text-align: center;
    margin-top: 30px;
    margin-left: 158px;
    border-radius: 5px;
    padding: 7px 10px 7px 5px;
}

.img-words {
    box-shadow: 0 0 3px 8px #285775;
    background-color: #3686b8;
}

.words p {
    margin: 0;
}

.words {
    padding: 5px 0px 10px 20px;
    
}

.content .name {
    font-size: 25px;
}

.content .opt {
    font-size: 12px;
}

.input {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* ============================= CONTENT 2nd level =================================== */

.home {
    background-color: black;
    width: 1280px;
    height: 160px;
}

.row-home {
    display: flex;
    justify-content: space-around;  
}

.buy {
    width: 280px;
}

.sell {
    width: 280px;
    margin-left: -250px;
}

.rent {
    width: 280px;
    margin-left: -250px;
}

.home p {
    font-size: 12px;
    color: gray;
    line-height: 1.5;
}

.home h1 {
    position: relative;
    font-size: 20px;
    color: #4484ad;
    padding-left: 25px;
}

.row-home img {
    position: absolute;
    left: 0px; 
}

/* =============================== FOTO ========================== */

.foto {
    display: flex;
    width: 1280px;
    height: 475px;
    justify-content: center;
}

.foto-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 945px;
    height: 425px;
}

/* ============================== FOOTER 1 LEVEL ============================ */

.foot-header {
    background-color: #638ba8;
    height: 196px;
    width: 1280px;
}

.row-foot {
    display: flex;
    height: 128px;
    justify-content: center;
    align-items: center;
}

.row-foot2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 320px;
}

.row-foot h1 {
    font-size: 18px;
}

.member,
.sub {
    background-color: #4b7d9b;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    width: 30%;
}

.sub {
    margin-left: 20px;
}

.foot-button {
    background-color: #4b7d9b;
    border: 0px;
    color: white;
    font-size: 14px;
}

.inp input {
    padding: 5px;
    width: 415px;
    border-radius: 5px;
    border: 0;
    line-height: 1.5;
}

.input-footer {
    color: #4b83a6;
    font-size: 12px;
    width: 100px;
    padding: 7px 5px 7px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
}

.footer-mail {
    color: #4b83a6;
    font-size: 12px;
    padding: 7px 5px 7px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 0;
    width: 280px;
}

.login {
    margin-left: 20px;
}

.social {
    transform: scale(1.1);
    margin-left: 25px;  
}

/* ========================== FOOTER 2 LEVEL =================================== */

.foot-footer {
    background-color: #4b7d9b;
    height: 243px;
    width: 1280px;
}

.row-foot3 {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.row-foot3 h1 {
    font-size: 20px;
}

.row-foot3 li,
.row-foot3 p {
    line-height: 1.6;
    font-size: 12px;
    list-style: none;
}

.cost {
    width: 30%;
}

.about {
    width: 35%;
}

.prop {
    width: 20%;
}

.foot-logo {
    position: relative;
    padding-left: 30px;
    width: 35%;
    transform: scale(0.8)
}

.foot-logo p {
    padding-top: 40px;
    padding-left: 30px;
}

.cost b {
    font-size: 14px;
}

.cost-back h1 {
    margin-right: 10px;
}

.cost-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -15px;
}

.cost-back a {
    text-decoration: none;
    padding: 4px 10px;
    transform: scale(0.7);
    opacity: 0.5;
}

a:hover {
    background-color: white;
    color: black;
}

.previous {
    background-color: lightgray;
    color: black;
}

.next {
    background-color: lightgray;
    color: black;
}

.round {
    border-radius: 50%;
}

.square-foot {
    position: absolute;
    top: -13px;
    left: 4px;
    height: 50px;
    width: 50px;
    border-top: 3px solid #74a8c9;
    border-bottom: 2px #74a8c9;
    border-left: 2px #74a8c9;
    overflow: hidden;
    transform: rotate(45deg) scale(0.6);
}

.foot-logo:after {
    content: "";
    position: absolute;
    top: -14px;
    left: 7px;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right top, white 20%, transparent 20%)
}    
    
.top-foot,
.left-foot,
.right-foot,
.bottom-foot {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    border: 1px solid #74a8c9;
    transform-origin: 0% 0%;
}

.right-foot {
    transform: rotate(-45deg);
    opacity: 0;
}

.bottom-foot {
    transform: rotate(45deg);
    background-color: white;
}

.top-foot {
    transform: rotate(-135deg);
    background-color: white;
}

.left-foot {
    transform: rotate(135deg);
    background-color: white;
}

   